[Desktop Entry]
Exec=qt4-qtconfig
Name=Qt4 Configuration 
Name[de]=Qt4 Konfiguration
Name[pl]=Konfiguracja Qt4
Comment=A graphical configuration tool for programs using Qt4 
Comment[de]=Ein grafisches Konfigurationstool für Qt4-Programme
Comment[pl]=Narzędzie graficzne do konfiguracji programów korzystających z Qt4
MapNotify=true
MimeType=application/x-qtconfig
Terminal=false
Icon=qt4-qtconfig
Type=Application
Categories=Qt;Settings;
Encoding=UTF-8
# vi: encoding=utf-8
